* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-transform: uppercase;
}

.homework-wrap {
    margin-left: 50px;
}

.cheked::after {
    margin-left: 10px;
    content: "\2705";
}

.homework-list li{
    margin: 10px;
}
