* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 30px 40px;
}

.container {
    max-width: 1000px;
}

.heading {
    font-size: 40px;
}


img {
    max-width: 100%;
    height: auto; 
}

.result-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(248, 248, 248);
    margin-top: 40px;
    padding: 20px;
}


.result-heading {
    font-size: 20px;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.code-example {
    display: flex;
    flex-direction: column;
}

.result {
    margin-left: 40px;
}

.link-heading {
    font-weight: bold;
}

.codepen {
    margin-top: 40px;
}

.codepen-link {
    text-decoration: none;
    color: lightcoral;
}

.codepen-link:hover {
    color: rgb(246, 177, 177);
}

.task-container {
    margin-top: 40px;
    max-width: 800px;
}

.task-condition {
    font-weight: bold;
}

.task-text {
    margin-top: 20px;
    text-align: justify;
    
}


@media (max-width: 768px) {
    .result-container {
        grid-template-columns: 1fr;
    }

    .code-example {
        justify-content: center;
        align-items: center;
    }

    .result {
        text-align: center;
        margin-top: 20px;
    }
}
